<h1>Search Procedure</h1>
<p><%= link_to 'New Procedure', new_procedure_path %></p>
<%= form_with model: @search do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>
    
    <div class="actions">
       <p><%= f.submit "Search" %></p>
    </div>
<% end %>

