<h1>Advanced Search</h1>

<%= form_with model: @search do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>
    


    <%= f.submit "Search" %>
    <%= link_to "Back", '/procedures' %>
<% end %>
