<%= form_with(model: procedure) do |form| %>
  <% if procedure.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(procedure.errors.count, "error") %> prohibited this procedure from being saved:</h2>
    <ul>
      <% procedure.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title , class:"form-label"%>
    <%= form.text_field :title , class:"form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_area :description , class:"form-control", id:"exampleFormControlTextarea1", rows:"10"%>
  </div>

  <div class="mb-3">
    <%= link_to 'Back', procedures_path,  class:"btn btn-secondary" , role:"button" %>
    <%= form.submit nil, class:"btn btn-primary" %>
  </div>
<% end %>
